root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.json]
end_of_line = lf
insert_final_newline = false
indent_size = 2
indent_style = space

[*.md]
trim_trailing_whitespace = true
indent_size = 2
indent_style = space

[*.{ts, js}]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
